<!DOCTYPE html>
<html>
  <head>
    <title>TrainingJournal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div>
  <% if logged_in?%>
  <%= link_to "Home", user_path(current_user)%> |
  <%= link_to "Logout", logout_path, method:"delete"%>

  <% else %>

  <% end %>

  </div>
    <%= yield %>
  </body>
</html>
